body {
  margin: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 600px;
  /* te wartości potem zmienisz jak już będziesz injectować inne komponenty */
  height: 400px; 
  background-color: blanchedalmond;
}